* {
    box-sizing: border-box;
}


html {
    background-color: rgba(242, 131, 205, 0.559);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

/*the word alc0ve made to have different text style*/
h1::after {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: aliceblue;
    content: 'alc0ve';
    margin-left: 9px;
}

/*sentence to be made a bit smaller than the main content*/
#p {
    font-weight: 200;
    font-style: italic;
}

nav {
    display: flex;
    justify-content: end;
}

nav a {
    color: #13293d;
    padding: 10px 15px;
    text-align: center;
}

nav a:hover {
    color:aquamarine;
}

body {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.aboutmeflex {
    display: flex;
    padding-left: 200px;
    padding-right: 200px;

}

/*purple container with about me, work, and contact info*/
.all-facts{
    margin: 0px;
    padding: 5px;
    background-color: rgba(136, 46, 221, 0.633);
}

/*all headers in purple container*/
h2 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

/*my picture*/
#Xtina {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-radius: 15px;
}

/*forms the cards*/
.facts {
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    padding: 15px;
    flex: 0 0 300px;
    background: beige;
    color: #000;
}

/*App 1 card*/
#ahsokacard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    padding: 20px;
    background: beige;
    color: #000;
}

/*App 1 card picture with Ahsoka*/
#dog {
    width: 500px;
    height: 700px;
    border-radius: 10px;
    object-fit: contain;
}


.facts h2{
    padding: 10px;
}

.facts p{
    text-align: center;
}

/*card/app images*/
.facts img {
    width: 100%;
    border-radius: 10px;
    object-fit: contain;
}

.facts:hover, #ahsokacard:hover{
    box-shadow: inset 0px 0px 7px 7px rgba(234, 70, 174, 0.577);
    cursor: pointer;
}

/*2-4 app cards*/
.apps {
    flex: 4;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contactlinks {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 10px;
    text-align: center;
    gap: 10px;
}

footer {
    display: flex;
    justify-content: left;
}

/*back to top button*/
button {
    float: right;
    width: 25%;
    margin: 2% 0;
    padding: 2%;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    html,
    nav {
        flex-direction: column;
    }

    .aboutmeflex {
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
    }

    #dog {
        width: 100%;
    }
}